a{
	text-decoration: none;
	color:currentColor;
}

body{
	font-family: roboto;
	background-image: url(../images/6/bg2.png);
	margin:-15px 0px 0px 0px;
}
footer{
	font-family: roboto;
    left: 0;
    bottom: 0;
    margin-bottom: -16px;
    width: 100%;
    background: linear-gradient(to right,#fff,#cee,#fff);
    text-align: center;
    clear: both;
}
@font-face{
	font-family: "roboto";
	src: url(6-text.ttf);
}


h1{
	font-size: 42pt;
	letter-spacing: -2pt;
	margin-left: 40px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 500;
	color: white;
	text-shadow: 2px 5px 1px #000;
}
h2{
	font-family: arial;
	position: relative;
	top:6px;
	padding-bottom: 10px;
	padding-left: 15px;
	color: white;
	text-shadow: 2px 2px 0px black;
	text-decoration: overline;
}
.header-wrapper{
	display: block;
	clear:both;
	height: auto;
	width: 100%;
	margin-bottom: -150px;
}
.header{
	display: block;
	padding-left: 65px;
	height: 105px;
	width: auto;
	background-color: #305d99;
	background-image: url(../images/6/bg-header.png);
}
#cup_img{
	position: relative;
	bottom: 120px;
	left: 30px;
	z-index: 2;
}
#fifa_logo{
	position: relative;
	bottom: 123px;
	left: 80%;
	z-index: 2;
}
.navbar{
	position: relative;
	vertical-align: top;
	text-align: left;
	bottom: 182px;
	padding-top: 5px;
	height: 47px;
	width: auto;
	padding-left: 150px;
	background-color: #305d99;
	background-image: url(../images/6/bg-header.png);
}
button{
  background:#305d99;
  text-transform: uppercase;
  background-image: url(../images/6/bg-header.png);
  color:#fff;
  border:none;
  position:relative;
  height:35px;
  font-family: roboto,sans-serif;
  font-size:14pt;
  text-shadow: 2px 2px 2px black;
  padding:0 30px;
  margin-top: 5px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background-image: url(../images/6/bg-header.png);
  background-color:rgba(39, 86, 147,0.8);
  color:#fff;
}

.content{
	margin-left: 40px;
	width: auto;
	height: auto;
}

/* INICIO */

.subwrapper{
	width: auto;
	height: auto;
}

#photo{
	display: block;
	width: 100%;
	margin-top: -182px;
	margin-bottom: -147px;
}
.wrapper div{
	float:left;
}

.img_txt{
	text-transform: uppercase;
	color: #fff;
	text-shadow: 3px 3px 5px black;
	position: relative;
	left: 550px;
	bottom: 380px;
	font-size:36pt;
	font-family: "roboto";
}

	/* PARTIDOS */
header{
	display:inline-block;
	margin-left: 170px;
	text-transform: uppercase;
	width: 900px;
	height: 40px;
	color:#fff;
	text-shadow: 1px 2px 0px black;
	transform: scale(1.02);
	text-align: center;
	background: url(../images/6/bg.png),linear-gradient(to right,rgba(48,93,153,.5),#305d99,rgba(48,93,153,.5));
}
header p{
	margin-top: 9px;
}
.match{
	display: block;
	margin-left: 170px;
	background-color: rgba(48,93,153,.1);
	width: 900px;
	height: 85px;
}
.match div{
	float:left;
}
.match:hover{
	transform: scale(1.06);
}
.match_date{
	margin-top: 10px;
	font-size:10pt;
}
.match_date p{
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.match_result{
	margin-top: 30px;
	margin-left: 250px;
}
.match_result p{
	margin-top: 0px;
	margin-left: 0px;
}
.result{
	display: none;
}
.no_result{
	display: block;
}

	/* EQUIPOS */

.team_group{
	display:inline-block;
	text-align: center;
	margin-left: 0px;
	margin-bottom: 30px;
	background: url(../images/6/bg.png),linear-gradient(to right,rgba(48,93,153,.4),#305d99,rgba(48,93,153,.4));
	width: 1250px;
	height: 30px;
}
.team_group p{
	margin-top: 5px;
	color:#fff;
	text-shadow: 2px 1px 1px black;
}
.team{
	margin-left: 25px;
	display: inline-block;
	height: 320px;
	width: 275px;
	box-shadow: -20px 10px 6px gray;
	border-bottom-right-radius: 125px;
	border-bottom-left-radius: 125px;
}
.team:hover{
	transform:scale(1.03);
}
#a_s{
	background: linear-gradient(to bottom,#cdd3a5,#0d6938,#0d6938);
}
#egy{
	background: linear-gradient(to bottom,#cdd3a5,#cf112d,#cf112d);
}
#rus{
	background: linear-gradient(to bottom,#cdd3a5,#04488e,#04488e);
}
#uru{
	background: linear-gradient(to bottom,#cdd3a5,#0082c2,#0082c2);
}
#spa{
	background: linear-gradient(to bottom,#cdd3a5,#fecc0d,#fecc0d);
}
#mar{
	background: linear-gradient(to bottom,#cdd3a5,#00843e,#00843e);
}
#por{
	background: linear-gradient(to bottom,#cdd3a5,#e21f1d,#e21f1d);
}
#iran{
	background: linear-gradient(to bottom,#cdd3a5,#00953e,#00953e);
}
#aus{
	background: linear-gradient(to bottom,#cdd3a5,#232f5d,#232f5d);
}
#den{
	background: linear-gradient(to bottom,#cdd3a5,#cf112d,#cf112d);
}
#fra{
	background: linear-gradient(to bottom,#cdd3a5,#25336d,#25336d);
}
#per{
	background: linear-gradient(to bottom,#cdd3a5,#cf112d,#cf112d);
}
#arg{
	background: linear-gradient(to bottom,#cdd3a5,#6eaadd,#6eaadd);
}
#cro{
	background: linear-gradient(to bottom,#cdd3a5,#04488e,#04488e);
}
#ice{
	background: linear-gradient(to bottom,#cdd3a5,#1c3b72,#1c3b72);
}
#nig{
	background: linear-gradient(to bottom,#cdd3a5,#00843e,#00843e);
}
#bra{
	background: linear-gradient(to bottom,#cdd3a5,#00a93e,#00a93e);
}
#cr{
	background: linear-gradient(to bottom,#cdd3a5,#232f5d,#232f5d);
}
#srb{
	background: linear-gradient(to bottom,#cdd3a5,#232f5d,#232f5d);
}
#sui{
	background: linear-gradient(to bottom,#cdd3a5,#e21f1d,#e21f1d);
}
#ger{
	background: linear-gradient(to bottom,#cdd3a5,#333,#333);
}
#kr{
	background: linear-gradient(to bottom,#cdd3a5,#eee,#eee);
}
#mex{
	background: linear-gradient(to bottom,#cdd3a5,#006342,#006342);
}
#swe{
	background: linear-gradient(to bottom,#cdd3a5,#044c7e,#044c7e);
}
#bel{
	background: linear-gradient(to bottom,#cdd3a5,#cf112d,#cf112d);
}
#eng{
	background: linear-gradient(to bottom,#cdd3a5,#eee,#eee);
}
#pan{
	background: linear-gradient(to bottom,#cdd3a5,#0060a8,#0060a8);
}
#tun{
	background: linear-gradient(to bottom,#cdd3a5,#cf112d,#cf112d);
}
#col{
	background: linear-gradient(to bottom,#cdd3a5,#fecc0d,#fecc0d);
}
#jpn{
	background: linear-gradient(to bottom,#cdd3a5,#cf112d,#cf112d);
}
#pol{
	background: linear-gradient(to bottom,#cdd3a5,#d92530,#d92530);
}
#sng{
	background: linear-gradient(to bottom,#cdd3a5,#00843e,#00843e);
}
.team_pic{
	margin-top: 5px;
	width: 275px;
	height: 48%;
}
.team_pic img {
	width: 275px;
	transform: scale(1.01);
}
.team_info img{
	position: relative;
	bottom: 60px;
	width: 275px;
	transform: scale(0.6);
}
.team_info p{
	position: relative;
	white-space: normal;
	text-align: center;
	color:white;
	text-shadow: 3px 3px 1px black;
	font-size: 22pt;
	bottom: 110px;
	left: 0px;
}

/* Grupos */

table {
	 border: 1px solid #ccc;
	 width: 1000px;
	 margin-left: 50px;
	 padding:0;
	 border-collapse: collapse;
	 border-spacing: 0;
 }

 table tr {
	 border: 1px solid #ddd;
	 padding: 5px;
 }

 table th, table td {
	 padding: 10px;
	 text-align: left;
 }

 table th {
	 text-transform: uppercase;
	 font-size: 14px;
	 letter-spacing: 1px;
 }

 @media screen and (max-width: 600px) {

	 table {
		 border: 0;
	 }

	 table thead {
		 display: none;
	 }

	 table tr {
		 margin-bottom: 10px;
		 display: block;
		 border-bottom: 2px solid #ddd;
	 }

	 table td {
		 display: block;
		 text-align: right;
		 font-size: 13px;
		 border-bottom: 1px dotted #ccc;
	 }

	 table td:last-child {
		 border-bottom: 0;
	 }

	 table td:before {
		 content: attr(data-label);
		 float: left;
		 text-transform: uppercase;
		 font-weight: bold;
	 }
 }

 table{
	 margin-bottom: 30px;
 }
