body {
	margin-top: 60px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

.header-wrapper h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color: #2483A6;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #2483A6;
}

a:hover {
	text-decoration: underline;
}

img.border {
	margin-bottom: 20px;
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 167px;
}

#header {
	width: 960px;
	height: 167px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: auto;
	margin: auto;
	padding: 10px 0px 0px 0px;
	color: #444444;
}

#logo h1, #logo p {
	display: block;
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 64px;
	font-weight: bold;
	color: #444444;
}

#logo h1 a {
	color: #444444;
}

#logo p {
	margin-top: -10px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 20px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #444444;
}
/* Menu */

#menu-wrapper {
	height: 58px;
}

#menu {
	width: 940px;
	height: 58px;
	margin: 0px auto;
	padding: 0px 20px 0px 20px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline;
}

#menu a {
	height: 56px;
	margin: 0px;
	padding: 10px 30px 10px 30px;
	line-height: 56px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #262626;
	border: none;
}

#menu .current_page_item a {
	background: #262626;
	color: #FFFFFF;
}

#menu a:hover {
	background: #262626;
	text-decoration: none;
	color: #FFFFFF;
}

#page-content {
	width: 940px;
	margin: 0px auto;
}

/* Footer */

#footer {
	width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #576475;
}

#footer a {
	color: #576475;
}

/* Banner */

#banner {
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Table */

#sec{
	padding-left: 40px;
}
table h1{
	  font-size: 30px;
	  color: red;
	  text-transform: uppercase;
	  font-weight: 300;
	  text-align: center;
	  margin-bottom: 15px;
}

table{
  width:100%;
  table-layout: fixed;
}

.tbl-header{
  background-color: #444444;

 }

.tbl-content{
  height: 233px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(68,68,68,0.1);
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.2);
}

th{
  padding: 15px 15px;
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #576475;
  border-bottom: solid 2px rgba(68,68,68,0.3);
}

section{
  margin: 50px;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
